@font-face {
  font-family: "GT-Alpina-Extended-Thin";
  src: url("/fonts/GT-Alpina-Extended-Thin.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GT-Alpina-Condensed-Thin";
  src: url("/fonts/GT-Alpina-Condensed-Thin.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-headline: "GT-Alpina-Extended-Thin";
  --font-body: "GT-Alpina-Condensed-Thin";
  --background-color: #0f0d0d;
  --background-color--transparent: #0f0d0d00;
  --color: #ced9e1;
  --gutter: 2rem;
  --toggle-background: #fefefe;
  --toggle-background-transparent: #fefefe00;
  --toggle-color: var(--background-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fefefe;
    --background-color-transparent: #fefefe00;
    --color: #0f0d0d;
    --toggle-background: #0f0d0d;
    --toggle-background-transparent: #0f0d0d00;
    --toggle-color: #ced9e1;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --gutter: 1rem;
  }
}

@keyframes noise {
  0% {
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    transform: translate3d(6rem, -5rem, 0);
  }
  100% {
    transform: translate3d(-7rem, 0, 0);
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  max-width: 100vw;
  font-family: var(--font-body);
  font-size: 14px;
  text-transform: uppercase;
}

body {
  color: var(--color);
  background-color: var(--background-color);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  &.toggle {
    color: var(--toggle-color);
    background-color: var(--toggle-background);
  }
}

ul {
  li {
    list-style: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  user-select: none;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
  @media (hover: none) {
    display: none;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.container {
  display: flex;
  nav {
    padding: 1rem var(--gutter);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    z-index: 1;
    width: 100%;
    white-space: nowrap;
    background-color: var(--background-color);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    body.toggle & {
      background-color: var(--toggle-background);
    }
    .logo {
      pointer-events: none;
      color: var(--color);
      transition: color 0.2s ease-in-out;
      body.toggle & {
        color: var(--toggle-color);
      }
    }
    p {
      a {
        display: inline-block;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: auto;
      align-items: center;
      li {
        padding: 0 0.2rem;
        cursor: pointer;
        position: relative;
        color: var(--color);
        transition: color 0.2s ease-in-out;
        body.toggle & {
          color: var(--toggle-color);
        }
        &.active {
          &::before {
            content: "•";
            margin-right: 0.2rem;
            font-size: 25px;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            transform: translateY(70%);
          }
        }
      }
    }
    .theme-toggle {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: relative;
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
      }
      &:before {
        content: "";
        border-radius: 10px 0 0 10px;
        left: 0;
        top: 0;
        background-color: #0f0d0d;
      }
      &:after {
        content: "";
        border-radius: 0 10px 10px 0;
        right: 0;
        top: 0;
        background-color: #fefefe;
      }
    }
    a {
      display: block;
      margin-top: 0.2rem;
    }
  }

  main {
    display: grid;
    gap: var(--gutter);
    grid-template-columns: repeat(5, 1fr);
    padding: 4rem var(--gutter) calc(7vw + 5rem) var(--gutter);
    width: 100%;

    @media screen and (max-width: 2000px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 1536px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    .item-wrapper {
      .item {
        width: 100%;
      }

      &:nth-child(5n + 2),
      &:nth-child(5n + 4),
      &:nth-child(5n + 6) {
        transform: translateY(7vw);
      }

      @media screen and (max-width: 2000px) {
        &:nth-child(5n + 2),
        &:nth-child(5n + 4),
        &:nth-child(5n + 6) {
          transform: translateY(0);
        }

        &:nth-child(even) {
          transform: translateY(7vw);
        }
      }

      @media screen and (max-width: 1536px) {
        &:nth-child(even) {
          transform: translateY(0);
        }
        &:nth-child(3n + 2) {
          transform: translateY(7vw);
        }
      }

      @media screen and (max-width: 1024px) {
        &:nth-child(3n + 2) {
          transform: translateY(0);
        }
        &:nth-child(even) {
          transform: translateY(7vw);
        }
      }

      &.active {
        z-index: 2;
      }
    }
  }
}

.item {
  aspect-ratio: 0.8;
  overflow: hidden;
  display: flex;
  cursor: pointer;

  img {
    object-fit: cover;
    height: 100%;
  }

  &.active {
    z-index: 2;
    transition: none !important;
  }
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 1rem var(--gutter);
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--background-color);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  body.toggle & {
    background-color: var(--toggle-background);
  }
  .inner {
    color: var(--color);
    transition: color 0.2s ease-in-out;
    body.toggle & {
      color: var(--toggle-color);
    }
    &:nth-child(2) {
      a {
        margin: 0 0.5rem;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 9;
  body.init__modal & {
    opacity: 1;
    pointer-events: initial;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: -1;
    transition: backdrop-filter 0.2s ease;
    body.init__modal & {
      backdrop-filter: blur(10px);
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--background-color--transparent);
    opacity: 0.7;
    transition: background-color 0.2s ease;

    body.toggle & {
      background-color: var(--toggle-background-transparent);
    }
    body.init__modal & {
      background-color: var(--background-color);
    }
    body.init__modal.toggle & {
      background-color: var(--toggle-background);
    }
  }

  .close {
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::before,
    &:after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: var(--color);

      body.toggle & {
        background-color: var(--toggle-color);
      }
    }
    &::before {
      margin-bottom: -1px;
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }

  .container {
    overflow: auto;
    height: 100%;
    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-image {
    width: 700px;
    height: 933px;
    max-width: 90vw;
    max-height: 106vw;

    img {
      margin: 0 auto;
      height: 100%;
      object-fit: cover;
    }
  }

  &.landscape {
    .modal-image {
      width: 1200px;
      height: 900px;
      max-height: 67.5vw;
    }
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  .blur {
    backdrop-filter: blur(5px);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .container {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--background-color);

    p {
      animation: loader 1s ease-in-out infinite;
    }
  }
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 101;
  &::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -10rem;
    animation: noise 0.2s steps(2) infinite;
    will-change: transform;
    background-image: url("/noise.webp");
    background-position: 50%;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
  }
}
